.setting {
    display: grid;
    grid-template-columns: 1fr 1fr 2em;
    background-color: var(--box-color);
    padding: 1em 0;
    border-radius: 1em;
    margin-bottom: 0.25em;
}

.setting div {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    background-color: var(--box-color)
}

.setting .setting-name {
    justify-content: flex-start;
}

.setting .setting-field {
    justify-content: flex-end;
}

.setting .setting-field input {
    border: 1pt solid transparent /*Yes, this is pointless, but my blinking red animation doesn't work without it.*/
}

.setting .setting-field .button {
    justify-content: center;
    border: 1pt solid var(--text-color);
}

.setting .setting-info {
    justify-content: center;
}

.invalid-setting {
    animation: flashRed step-end 0.5s infinite;
}

@keyframes flashRed {
    0% {
        border: 1pt solid var(--error-color);
    }
    50% {
        border: 1pt solid transparent;
    }
    100% {
        border: 1pt solid var(--error-color);
    }
}
