:root {
    --bg-color: #3f3f3f;
    --text-color: white;
    --box-color: #7f7f7f;
    --greyout-color: #3f3f3f;
    --error-color: red;
}

#menu-bar button img {
    max-width: 100%;
    max-height: 100%;
    filter: invert(100%);
}
