body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color)
}

#menu-bar {
    display: grid;
    grid-template-columns: 3em auto 3em;
    height: 3em;
}

#menu-bar div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu-bar button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    height: 100%;
}

#menu-bar button img {
    width: 100%;
    height: 100%;
}

#interface-container {
    width: 100vw;
    height: calc(100vh - 3em);
    overflow: scroll;
}

#interface-container::-webkit-scrollbar {
    display: none;
}
